In [51]:
#Q1
a = int(input())
b = int(input())
a*b

160

In [52]:
#Q2
a = 3
b = 4
a,b  = b,a
print(a)
print(b)

4
3

In [53]:
#Q3
def oddEve( a):
    print('odd') if a%2 else print('even')

oddEve(4)
oddEve(9)

even
odd

In [54]:
#Q4
def getMax(a,b,c):
    print(max(a,max(b,c)))

getMax(3,5,9)

9

In [55]:
#Q5
def listOdd(n):
    while(n > 0):
        print('odd') if n%2 else print()
        n-=1

listOdd(12)

odd

odd

odd

odd

odd

odd

In [56]:
#Q6
from sympy import *
a = int(input())
b = int(input())
print(str(a)+ " "+ str(b))
a,b = min(a,b), max(a,b)
for x in range(a,b):
    if isprime(x):
        print(x)

85 122
89
97
101
103
107
109
113

In [57]:
#Q7
arr = [1,3,54,86,22]
print(arr)
arr.append(100)
print('append : ',arr)
arr.extend([110,200])
print('extend : ',arr)
arr.insert(0,0)
print('insert : ',arr)
arr.sort()
print('sort : ',arr)
arr.reverse()
print('reverse : ',arr)
x = arr.count(1)
print('count of 1 in list: ',x)
arr.clear()
print('clear : ',arr)

[1, 3, 54, 86, 22]
append :  [1, 3, 54, 86, 22, 100]
extend :  [1, 3, 54, 86, 22, 100, 110, 200]
insert :  [0, 1, 3, 54, 86, 22, 100, 110, 200]
sort :  [0, 1, 3, 22, 54, 86, 100, 110, 200]
reverse :  [200, 110, 100, 86, 54, 22, 3, 1, 0]
count of 1 in list:  1
clear :  []

In [58]:
#Q8
tup = (1,3,5,7,9,2,4,6,8,10)
print('1st half : ',tup[0:5])
print('2nd half : ',tup[5:10])

1st half :  (1, 3, 5, 7, 9)
2nd half :  (2, 4, 6, 8, 10)

In [59]:
#Q9
tup = (12, 7, 38, 56, 78 )
newtup=()
print('oldtuple : ',tup)
for i in tup:
    if(i%2==0):
        newtup+=(i,)
print('Newtuple : ',newtup)

oldtuple :  (12, 7, 38, 56, 78)
Newtuple :  (12, 38, 56, 78)

In [60]:
#Q10
l =[11, -21, 0, 45, 66, -93]
for x in l:
    (x<0) and print(x)

-21
-93

In [61]:
#Q11
l =[11, -21, 0, 45, 66, -93]
x=0
while(x < len(l)):
    (l[x]<0) and print(l[x])
    x+=1

-21
-93

In [62]:
#Q12
p = 0
n = 0
l =[11, -21, 0, 45, 66, -93]
for x in l:
    if x>=0:
        p+=1
    else:
        n+=1
print(p)
print(n)

4
2

In [63]:
#Q13
l =[11, -21, 0, 45, 66, -93]
for x in l:
    if x%2==0:
        l.remove(x)
l

[11, -21, 45, -93]

In [64]:
#Q14
d = {'Sarthak':['5.10', 'Fail'],'Sarthak2':['6.10', 'Pass'],'Sarthak3':['5.0', 'Fail']}
d

{'Sarthak': ['5.10', 'Fail'],
 'Sarthak2': ['6.10', 'Pass'],
 'Sarthak3': ['5.0', 'Fail']}

In [65]:
import pandas as pd
df = pd.DataFrame(d).T
df

             0     1
Sarthak   5.10  Fail
Sarthak2  6.10  Pass
Sarthak3   5.0  Fail

In [66]:
l = ['addr1','adddr2', 'addr3']
df.insert(2,'Addr',l)
df

             0     1    Addr
Sarthak   5.10  Fail   addr1
Sarthak2  6.10  Pass  adddr2
Sarthak3   5.0  Fail   addr3